<!doctype html>
<html>
  <head>
    <title>Workout Routine</title>
  </head>

  <body>
    <h1>Workout Routine</h1>

    {% if session.username %}
    <p>Welcome {{ session.username }}!</p>
    <p>
      <a href="/logout"> Logout</a>
    </p>
    <p>
      <a href="/new_workout">New workout</a>
    </p>
    {% else %}
    <p>
      <a href="/login"> Login</a>
      <a href="/register"> Register</a>
    </p>
    {% endif %}
    <p>
      <a href="/find_workout">Search</a>
    </p>
    <p>
      <h2>Workouts</h2>
      <ul>
      {%for workout in workouts%}
      <li><a href="/workout/{{ workout.id }}">{{workout.title}}</a></li>
      {% endfor %}
      </ul>
    </p>
  </body>
</html>
