{% extends "layout.html" %} {% block title %}New Workout{% endblock %} {%block
content %}
<body>
  <h2>Workout Routine</h2>

  <form action="/create_workout" method="post">
    <p>
      <label for="title"> Title: </label> <br />
      <input type="text" name="title" id="title" maxlength="50" required />
    </p>

    <p>
      <label for="description">Description: </label> <br />
      <textarea
        name="description"
        id="description"
        rows="8"
        cols="60"
        maxlength="1000"
        required
      ></textarea>
    </p>

    {% for class in classes %}
    <p>
      <label for="class{{ class }}">{{ class }}: </label> <br />
      {% for option in classes[class] %}
      <input
        type="checkbox"
        name="classes"
        id="class{{ class }}"
        value="{{ class }}:{{ option }}"
      />
      {{ option }} <br />
      {% endfor %}
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create" />
    {% endblock %}
  </form>
</body>
