{% extends "layout.html" %} 

{% block title %}User{% endblock %} 

{%block content %}
<h2>User {{user.username}}</h2>

<p>User {{user.username}} has a total of :</p>

<ul>
  {% if user_workouts|count == 1 %}
  <li>{{ user_workouts|count }} workout</li>
  {% else %}
  <li>{{ user_workouts|count }} workouts</li>
  {% endif %} {% if user_ratings|count == 1 %}
  <li>{{ user_ratings|count }} rating</li>
  {% else %}
  <li>{{ user_ratings|count }} ratings</li>
  {% endif %}
</ul>

<h3>Workouts</h3>
<ul>
  {% for workout in user_workouts %}
  <li><a href="/workout/{{ workout.id }}">{{ workout.title }}</a></li>
  {% endfor %}
</ul>

<h3>Ratings</h3>
<ul>
  {% for rating in user_ratings | unique(attribute='workout_id') %}
  <li><a href="/workout/{{ rating.workout_id }}">{{ rating.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %} 
