<!doctype html>
<html>
  <head>
    <title>{{workout.title}}</title>
  </head>

  <body>
    <h1>{{workout.title}}</h1>
    {% if session.user_id == workout.user_id %}
    <p>
      <a href="/edit_workout/{{ workout.id }}">Edit</a>
      <a href="/remove_workout/{{ workout.id }}">Remove</a>
    </p>
    {% endif %}

    <p>{{workout.description}}</p>

    <p>
      Created by: <a href="/user/{{ workout.user_id }}">{{workout.username}}</a>
    </p>

    {% if classes %}
    <p>
      Classes:
      <ul>
        {% for class in classes %}
        <li>{{ class.title }} : {{ class.value }}</li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}

    <p>
      <a href="/">Front Page</a>
    </p>
  </body>
</html>
