<!doctype html>
<html>
  <head>
    <title>{{workout.title}}</title>
  </head>

  <body>
    <h1>{{workout.title}}</h1>
    {% if session.user_id == workout.user_id %}
    <p>
      <a href="/edit_workout/{{ workout.id }}">Edit</a>
      <a href="/remove_workout/{{ workout.id }}">Remove</a>
    </p>
    {% endif %}

    <p>{{workout.description}}</p>
    <p>Muscle groups: {{workout.muscle_groups}}</p>
    <p>Goals: {{workout.goals}}</p>
    <p>
      Created by: <a href="/user/{{ workout.user_id }}">{{workout.username}}</a>
    </p>

    <p>
      <a href="/">Front Page</a>
    </p>
  </body>
</html>
